/*Style global*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
}

/*Style variables*/
:root {
	--color-black: #000;
	--color-white: #fff;
	--color-gray: #999;
	--color-purple: #630093;
	--color-purpleDark: #1B0027;
/*	--color-purpleDarkTransparent: #1B002790;*/
	--color-green: #02A006;
	--color-greenDark: #014903;
	--color-darkTransparent: #00000099;
}

body {
	background-color: #1B0027;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='200' viewBox='0 0 160 80'%3E%3Cg fill='%2302A006' fill-opacity='0.23'%3E%3Cpolygon points='0 10 0 0 10 0'/%3E%3Cpolygon points='0 40 0 30 10 30'/%3E%3Cpolygon points='0 30 0 20 10 20'/%3E%3Cpolygon points='0 70 0 60 10 60'/%3E%3Cpolygon points='0 80 0 70 10 70'/%3E%3Cpolygon points='50 80 50 70 60 70'/%3E%3Cpolygon points='10 20 10 10 20 10'/%3E%3Cpolygon points='10 40 10 30 20 30'/%3E%3Cpolygon points='20 10 20 0 30 0'/%3E%3Cpolygon points='10 10 10 0 20 0'/%3E%3Cpolygon points='30 20 30 10 40 10'/%3E%3Cpolygon points='20 20 20 40 40 20'/%3E%3Cpolygon points='40 10 40 0 50 0'/%3E%3Cpolygon points='40 20 40 10 50 10'/%3E%3Cpolygon points='40 40 40 30 50 30'/%3E%3Cpolygon points='30 40 30 30 40 30'/%3E%3Cpolygon points='40 60 40 50 50 50'/%3E%3Cpolygon points='50 30 50 20 60 20'/%3E%3Cpolygon points='40 60 40 80 60 60'/%3E%3Cpolygon points='50 40 50 60 70 40'/%3E%3Cpolygon points='60 0 60 20 80 0'/%3E%3Cpolygon points='70 30 70 20 80 20'/%3E%3Cpolygon points='70 40 70 30 80 30'/%3E%3Cpolygon points='60 60 60 80 80 60'/%3E%3Cpolygon points='80 10 80 0 90 0'/%3E%3Cpolygon points='70 40 70 60 90 40'/%3E%3Cpolygon points='80 60 80 50 90 50'/%3E%3Cpolygon points='60 30 60 20 70 20'/%3E%3Cpolygon points='80 70 80 80 90 80 100 70'/%3E%3Cpolygon points='80 10 80 40 110 10'/%3E%3Cpolygon points='110 40 110 30 120 30'/%3E%3Cpolygon points='90 40 90 70 120 40'/%3E%3Cpolygon points='10 50 10 80 40 50'/%3E%3Cpolygon points='110 60 110 50 120 50'/%3E%3Cpolygon points='100 60 100 80 120 60'/%3E%3Cpolygon points='110 0 110 20 130 0'/%3E%3Cpolygon points='120 30 120 20 130 20'/%3E%3Cpolygon points='130 10 130 0 140 0'/%3E%3Cpolygon points='130 30 130 20 140 20'/%3E%3Cpolygon points='120 40 120 30 130 30'/%3E%3Cpolygon points='130 50 130 40 140 40'/%3E%3Cpolygon points='120 50 120 70 140 50'/%3E%3Cpolygon points='110 70 110 80 130 80 140 70'/%3E%3Cpolygon points='140 10 140 0 150 0'/%3E%3Cpolygon points='140 20 140 10 150 10'/%3E%3Cpolygon points='140 40 140 30 150 30'/%3E%3Cpolygon points='140 50 140 40 150 40'/%3E%3Cpolygon points='140 70 140 60 150 60'/%3E%3Cpolygon points='150 20 150 40 160 30 160 20'/%3E%3Cpolygon points='150 60 150 50 160 50'/%3E%3Cpolygon points='140 70 140 80 150 80 160 70'/%3E%3C/g%3E%3C/svg%3E");
	margin: 0;
	padding: 0;
	height: 100vh;
	position: relative;
}

body::-webkit-scrollbar {
  width: 0;
}

/* .my-video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
	object-fit: cover;
} */


/* section style content */
.content {
	width: 100%;
	height: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* section style content left */
.content-left {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	position: relative;
	background: var(--color-darkTransparent);
}

/*section styles textarea*/
.content-left-input textarea {
	resize: none;
	border: none;
	outline: none;
	margin-top: 50px;
	padding: 30px;
	width: 100%;
	font-size: 2rem;
	background: transparent;
	color: var(--color-purple);
}

.content-left-input textarea::-webkit-scrollbar {
	width: 10px;
	height: 2px;
}

.content-left-input textarea::-webkit-scrollbar-thumb {
  background: var(--color-green);
  border-radius: 10px;
}

.content-left-input textarea:hover,
.content-left-input textarea:focus {
	color: var(--color-green);
}

.content-left-input textarea::placeholder {
	color: var(--color-green);
}

/* section style buttons left */
.content-container-btns {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.content-left-btns{
	display: flex;
	width: 100%;
}

.content-left-btns .encrypt {
	background: var(--color-green);
	color: var(--color-purple);
}

.content-left-btns .encrypt:hover {
	background: var(--color-purple);
	color: var(--color-green);
}

/* Style buttons global */
button {
	cursor: pointer;
	outline: none;
	padding: 25px 10px;
	margin: 50px 16px;
	border-radius: 25px;
	font-weight: bold;
	border: none;
	transition: .1s all;
	width: 100%;
	background: var(--color-purpleDark);
	color: var(--color-green);
}

button:hover {
	transform: translateY(-10px);
	background: var(--color-purple);
	box-shadow: 0 5px 15px 5px var(--color-green);
}

/* section right */
.content-right {
	background: var(--color-darkTransparent);
	padding: 10px;
	margin: 0 30px;
	width: 60%;
	text-align: justify;
	height: 100%;
	border-radius: 10px;
	transition: .3s all;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.content-right-text {
	width: 100%;
	padding: 120px 120px 0 50px;
}

.content-right-p0 {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--color-green);
	text-shadow: 0 0 10px var(--color-purple), 0 0 20px var(--color-purple), 0 0 30px var(--color-purple);
} 

.content-right-p1 {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--color-green);
}

.content-right-p2 {
	font-size: 1.5rem;
	color: var(--color-gray);
}

.content-right-btns {
	display: inline-flex;
	position: absolute;
	right: 0;
	bottom: 0;
	gap: 25px;
	width: 100%;
}

/*media querys*/
@media (max-width: 900px) and (min-width: 369px) {

    .content {
        display: inline-block;
        flex-direction: column;
    }

    .content-left-input textarea {
        margin-top: 100px;
        width: 90%;
    }

    .content-left-btns {
        width: 100%;
    }

    .content-right {
        margin: 20px auto;
        overflow: hidden;
        width: 80%;
    }

    .content-right-text {
        padding: 150px;
    }

    .content-right-btns {
        position: absolute;
        width: 100%;
        margin: auto;
        padding: auto 10px;
    }
}

@media (max-width: 768px) {
    .content {
        display: inline-block;
        flex-direction: column;
    }

    .content-left-input textarea {
        margin-top: 100px;
        width: 90%;
    }

    .content-left-btns {
        width: 100%;
    }

    .content-right {
        margin: 20px auto;
        overflow: hidden;
        width: 80%;
    }

    .content-right-text {
        padding: 100px;
    }

    .content-right-btns {
        position: absolute;
        width: 100%;
        margin: auto;
        padding: auto 10px;
    }
}

@media (max-width: 368px) {
    .content {
        display: inline-block;
        flex-direction: column;
    }

    .content-left-input textarea {
        margin-top: 100px;
        width: 90%;
    }

    .content-left-btns {
        width: 100%;
    }

    .content-right {
        margin: 20px auto;
        overflow: hidden;
        width: 100%;
        text-align: center;
    }

    .content-right-text {
        padding: 100px 0;
    }

    .content-right-btns {
        position: absolute;
        width: 100%;
        margin: auto;
        padding: auto 10px;
    }
}
